# SET

In [13]:
s = {}

In [14]:
s

{}

In [15]:
s
type(s)

dict

In [16]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [17]:
s2 = {1,2,4}
s2

{1, 2, 4}

In [18]:
s3 = {1,4,"Sowji",1+5j,4.0} # Set will not allow duplicate values even though type is different like int and float with same value 4

In [19]:
s3

{(1+5j), 1, 4, 'Sowji'}

In [20]:
print(s1)
print(s2)
print(s3)

NameError: name 's1' is not defined

In [ ]:
s1 = s3
print(id(s1))
print(id(s3))
print(s1 == s3)

In [ ]:
s3.add(5.5)

In [ ]:
s1

In [ ]:
s3

In [ ]:
s4 = {1, 2.3, 'nit', 1+2j, [1,2,3], (4,5,6), True} # Set will not allow nested list or tuples. Whereas we can have set,tuple,dic inside a tuple or list
s4

In [ ]:
s3

In [ ]:
s3.clear() # clears all the elemtns in the data

In [ ]:
s3

In [ ]:
del s3 # deleted entire variable

In [ ]:
s3

In [ ]:
s2

In [ ]:
s2.remove(4) # removes particular element

In [ ]:
s2

In [ ]:
s2.add(5)

In [ ]:
s2

In [ ]:
s2.add(3)

In [ ]:
s2

In [ ]:
s2.discard(6) # discard function will remove element if it is present otherwise no error

In [ ]:
s2.remove(6) #if element was not present it will throw error

In [ ]:
s2.discard(1)

In [ ]:
s2.add(6)

In [ ]:
s2

In [ ]:
s2.pop()

In [ ]:
s2.pop()

In [ ]:
s2.add(4.5)

In [ ]:
for i in s2:
    print(i)

In [ ]:
for i in s2:
    print(i)

In [ ]:
s2

In [ ]:
for i in enumerate(s2):
    print(i)

In [ ]:
"Sowji" in s2

In [ ]:
s2

In [ ]:
s1

In [ ]:
s1.update(s2) # all elements in s2 will be copied to s1

In [ ]:
s1

In [ ]:
s2

# SET Operations

* Union |
* Intersection &
* Difference -
* Symmetric Difference

In [22]:
s6 = {1,2,3,4,5}
s7 = {4,5,6,7,8}
s8 = {8,9,10}

In [ ]:
s6.union(s7)

In [ ]:
s6.union(s7,s8)

In [ ]:
s6 | s7

In [ ]:
s6 | s7 | s8

In [ ]:
s6 & s7

In [ ]:
s6.intersection(s7)

In [ ]:
s7.intersection(s8)

In [ ]:
print(s6)
print(s7)
print(s8)

In [ ]:
s6.difference(s7)

In [ ]:
s6 - s7

In [ ]:
s7 - s8

In [ ]:
print(s6)
print(s7)
print(s8)

In [ ]:
s6.symmetric_difference(s7)

In [ ]:
s = [1,2,3]
type(s)

# Set 
 * Superset
 * Subset
 * disjoint

In [23]:
print(s6)
print(s7)
print(s8)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [26]:
 s9 = {8,9,10,11,15}

In [27]:
s8.issubset(s9)

True

In [28]:
s9.issuperset(s8)

True

In [29]:
s6.isdisjoint(s7)

False

In [30]:
for i in s7:
    print(i)

4
5
6
7
8

In [32]:
for i in enumerate(s7):
    print(i)

(0, 4)
(1, 5)
(2, 6)
(3, 7)
(4, 8)

In [33]:
sum(s7)

30

In [34]:
min(s7)

4

In [35]:
max(s7)

8

In [36]:
len(s7)

5

# Dictionary Data Strctures
* It is defined within curly braces with key value pairs. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed.

In [2]:
my_dict = {} # empty dictionary
my_dict

{}

In [3]:
print(type(my_dict))

<class 'dict'>

In [4]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [8]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [9]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [10]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [11]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [12]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [13]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with list as value
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [16]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'ca')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'ca')}

In [17]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'a': None, 'b': None, 'c': None}

In [18]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'a': 10, 'b': 10, 'c': 10}

In [19]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}

In [20]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [21]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [22]:
mydict[1] # Access item using key

'one'

In [23]:
mydict.get(1) # Access item using get() method

'one'

# Add, Remove & Change Items

In [24]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [25]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [26]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [27]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [28]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [29]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [30]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [31]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [32]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [33]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

Copy Dictionary

In [34]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [35]:
mydict1 = mydict # Create a new reference "mydict1

In [36]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2194745049472, 2194745049472)

In [37]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [38]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2194745063488

In [39]:
mydict['Address'] = 'Mumbai'

In [40]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [41]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [42]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionar

In [44]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' ,'Job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [46]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [47]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki
Analyst

Dictionary Membership

In [48]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [49]:
'ID' in mydict1 # Membership test can be only done for keys.

True

All / Any
The all() method returns:
True - If all all keys of the dictionary are true
False - If any key of the dictionary is false
The any() function returns True if any key of the dictionary is True. If not, any() returns False

In [50]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [51]:
all(mydict1) # Will Return false as one value is false (Value 0)

True