# Tuple

In [1]:
# Tuple Creation
tup = ()

In [2]:
print(type(tup))

<class 'tuple'>

In [3]:
int_tuple = (1,2,3,4,5)
print(int_tuple)

(1, 2, 3, 4, 5)

In [4]:
float_tuple = (1.3,2.3,4.5)
print(float_tuple)

(1.3, 2.3, 4.5)

In [5]:
nes_tuple = (1,2,('a','b'),4)

In [6]:
print(type(nes_tuple))

<class 'tuple'>

In [7]:
len(nes_tuple)

4

# Tuple Indexing

In [14]:
print(int_tuple)

(1, 2, 3, 4, 5)

In [13]:
print(int_tuple[0]) # it will print the first element of tuple

1

In [15]:
print(nes_tuple)

(1, 2, ('a', 'b'), 4)

In [18]:
print(nes_tuple[2][1]) # it will print the elements inside nested tuple called nested indexing

b

In [20]:
print(nes_tuple[-1]) # it will print last element of tuple

4

# Tuple Slicing

In [21]:
tup1= (1,2,3,4,5,6,7,8,9,10)

In [23]:
print(tup1[::])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
print(tup1[0:3])

(1, 2, 3)

In [29]:
print(tup1[::-1])

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [30]:
print(tup1[:2]) #it will print first 2 elements in the tuple

(1, 2)

In [32]:
print(tup1[-1:]) #it will print last element in the tuple

(10,)

In [33]:
print(tup1[-2:]) #it will print last 2 element in the tuple

(9, 10)

In [35]:
tup1[2] = 34 # tuples are immutable so we cant change values inside the tuple

TypeError: 'tuple' object does not support item assignment

In [37]:
del tup1[0] # immutable so cant delete items inside a tuple

TypeError: 'tuple' object doesn't support item deletion

In [38]:
del tup1 # deleting eniter tuple is possible

In [39]:
print(tup1)

NameError: name 'tup1' is not defined

In [40]:
int_tuple

(1, 2, 3, 4, 5)

In [43]:
int_tuple2 = int_tuple*3 # we can multiply entire tuple and assigne it to another tuple or variable

In [42]:
int_tuple2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [46]:
int_tuple2.count(4) # count the number of instances of the 4 in int_tuple2

3

In [51]:
print(sorted(int_tuple2)) # it will jsut print the tuple in sorted order but will not change the exisiting tuple

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [50]:
print(int_tuple2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)